# core
numpy
pandas
scikit-learn
joblib
tqdm

# visualization
matplotlib
seaborn

# time series / forecasting
neuralforecast
statsmodels

# backend & serving
fastapi
uvicorn[standard]
pydantic
streamlit

# experiment tracking
mlflow
optuna
